.invalidStep {
    stroke: red;
    fill: red;
}

.icon {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkoutStepNav {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
}